.DS_Store
.idea/
.vscode/
*.log
.env
.env.*
!.env.example
node_modules/
dist/
coverage/
.nx/
.angular/
.pnpm-store/
out-tsc/
*.tsbuildinfo
apps/admin/public/config/config.json
apps/console/public/config/config.json